.center{
    text-align: center;

}
.h-logo{
    font-family: 'Pacifico', cursive;
    color: rgb(255, 153, 27);
    font-size: 25px;
}
.h-primary{
    font-size: 45px;
    margin: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    
    padding: 20px;
}

.h-secondary{
    font-size: 45px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
}
#home p{
    padding: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

